{% extends 'layouts/base.html' %} {% block title%}Dashboard{% endblock %}
{%block content %}

<div class="row mt-4 gx-3 shadow p-3 mb-5 bg-body rounded">
  <h3>Income</h3>
  <hr />
  <div class="col">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Daily</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Monthly</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem">
      <div class="card-body">
        <h5 class="card-title">Yearly</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-evenly gx-4 shadow p-3 mb-5 bg-body rounded">
  <div class="col-5">
    <div class="card">
      <div class="card-header">Top 5 Products</div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
    </div>
  </div>
  <div class="col-5">
    <div class="card">
      <div class="card-header">Worst 5 Products</div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="row shadow p-3 mb-5 bg-body rounded">
  <h3>Last 10 Orders</h3>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
