# Main Framework
Flask==2.0.2

# Server for production
gunicorn==20.1.0

# Interface
Jinja2==3.0.3
click==8.0.3

# Testing and Analysis
pytest==6.2.5
pytest-cov==3.0.0
autopep8==1.6.0
flake8==4.0.1

# Extensions
Flask-DebugToolbar==0.11.0
Flask-Mail==0.9.1
Flask-Login==0.5.0

# Data
Flask-SQLAlchemy==2.5.1
psycopg2-binary==2.9.2
redis==4.0.2
celery==5.2.1

# Forms
Flask-WTF==1.0.0
WTForms==3.0.0
WTForms-Components==0.10.5
WTForms-Alchemy==0.18.0

##########################
