<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- CSS -->
    <link
      href="{{ url_for('static', filename='styles/vendor/bootstrap.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='styles/vendor/fontawesome.min.css') }}"
      rel="stylesheet"
    />
    <link
      href="{{ url_for('static', filename='styles/main.css') }}"
      rel="stylesheet"
    />

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    <!-- Main Body -->
    {% block content %}{% endblock %}
    <div class="container">
    </div>

    <!-- JS -->
    <script src="{{ url_for('static', filename='scripts/vendor/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/main.js') }}"></script>
  </body>
</html>
